<div class="over fade-in" [style.height.px]="altPage" [style.display]="exibe ? 'flex' : 'none'">
    <div class="box-loader box-edit">
        <h1> <i class="far fa-edit" aria-hidden="true"></i> {{tltFormEdit}}</h1>
        <a class="btn-close-box" (click)="fechaBox()"><i class="far fa-times-circle"></i></a>  
        <div>
            <form  [formGroup]="formCreateUsuario">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="email">E-Mail</label>
                        <input type="email" class="form-control" id="email" name="email" required formControlName="email" >
                    </div>
                
                    <div class="form-group col-md-12">
                        <label for="apelido">Apelido</label>
                        <input type="text" class="form-control" id="apelido" name="apelido" required formControlName="apelido">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="avatar">Avatar</label>
                        <input type="text" class="form-control" id="avatar" name="avatar" required formControlName="avatar">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" required formControlName="senha">
                    </div>
                    <div class="form-group row-md-12">
                        
                        <input type="checkbox" class="form-check-input" id="termos" name="termos" required formControlName="flgAceiteTermo">
                        <label for="termos">&nbsp;&nbsp;&nbsp;Termos de Uso!&nbsp;&nbsp;&nbsp;</label>

                        <input type="checkbox" class="form-check-input" id="status" name="status" formControlName="flgAtivo">
                        <label for="status">&nbsp;&nbsp;&nbsp;Status&nbsp;&nbsp;&nbsp;</label>

                        <input type="checkbox" class="form-check-input" id="LGPD" name="LGPD" required formControlName="flgAceiteLGPD">
                        <label for="LGPD">&nbsp;&nbsp;&nbsp;Aceitar LGPD!</label>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="form-group col-md-4" id="div-botao">
                        <button type="button" class="btn btn-success btn-addc" [disabled]="!formCreateUsuario.valid" (click)="createUsuario()" ><i class="fas fa-plus"></i> Salvar</button>
                    </div>
                </div>
                  
            </form>
        </div>
    </div>
</div>
